<div class="row" style="padding: 200px 0px">
    <div class="col-md-6 col-md-offset-3">
        <h1 style="color: navy;">Search All Things Duncan</h1>
        <div class="form-group">
            <input id="search" type="text" placeholder="" class="form-control" ng-model="$ctrl.searchInput" style="font-size: 1.3em; padding: 10px;"/>
            <a type="submit" class="btn btn-primary" style="margin-top: 15px;" ui-sref="searchResults" ng-click="$ctrl.submitKeyword(); $ctrl.navResult()">Search</a>
        </div>
    </div>
</div>
